<ul id="results">
    <% locals[:results].each do |img| %>
    <li class="result-box">
        <figure class="result-preview">
            <img src="<%= img.base64 %>" width="250">
            <figcaption><%= img.name %> - (<%= img.size %>Kb)</figcaption>
        </figure>
        <textarea class="result-code" readonly><%= img.base64 %></textarea>
    </li>
    <% end %>
</ul>