<form method="post" action="/" enctype="multipart/form-data">
    <div class="uploader">
        <label class="uploader-label">Your images here!</label>
        <input type="file" name="images[]" class="uploader-file" multiple>
    </div>
    <!-- <input type="text" placeholder="URL here" name="url" class="uploader-url"> -->
    <input type="submit" value="Convert to Base64 Code" id="submit">
</form>