<form method="post" action="/" enctype="multipart/form-data">
    <div class="upfile" >
        <label class="upfile-label" for="upfile">Select your images...</label>
        <input id="upfile" type="file" name="images[]" class="upfile-button" multiple>
    </div>
    <!-- <input type="text" placeholder="URL here" name="url" class="uploader-url"> -->
    <input type="submit" value="Convert to Base64 Code" id="submit">
</form>