/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font: 100%/1.4em "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: none;
  color: #333333;
  margin: 2em auto;
}

a {
  color: #0637B3;
  text-decoration: none;
}

a:visited {
  color: #005580;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.logo {
  font-size: 3em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
  text-align: center;
  display: block;
  color: #333;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
}

.logo,
.logo:visited,
.logo:hover,
.logo:focus {
  color: #333;
  text-decoration: none;
}

section {
  background: url("./background.webp") repeat;
  min-height: 495px;
  margin-top: 2.5em;
}

form {
  padding: 6em 0 1em;
  text-align: center;
}

.upfile {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #FFF;
}

#submit {
  font-size: 1.2em;
  padding: .8em 1em;
  box-shadow: inset 0px 1px rgba(255, 255, 255, .5);
  border: none;
  color: #FFF;
  text-shadow: 0 -1px 0 #444;
  background-image: linear-gradient(#e74c3c, #c0392b);
  border-radius: 5px;
  display: block;
  margin: 2em auto 1em;
}

#submit:active {
  background-image: none;
  background-color: #c0392b;
}

#submit:disabled {
  background-image: none;
  background-color: #F9F9F9;
  text-shadow: none;
  color: #BBB;
  cursor: not-allowed;
}

#results {
  list-style: none;
  padding: 2.5em 0;
}

.result-box {
  background: rgba(255, 255, 255, 0.5);
  margin: 2.5em auto;
  width: 80%;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.result-preview {
  width: 250px;
  padding: 1em;
  display: inline-block;
  text-align: center;
}

.result-preview figcaption {
  text-align: center;
  text-shadow: 0 -1px #666;
  color: #FFF;
}

.result-box button {
  font-size: .9em;
  padding: .2em .5em;
  border: 1px solid #d44636;
  color: #ffffff;
  text-shadow: 0 -1px 0 #777;
  background-color: #e74c3c;
  border-radius: 5px;
  margin: .5em auto;
  line-height: 1em;
  justify-content: center;
  display: flex;
  align-items: center;
}

.result-box button svg {
  width: 24px;
  margin-right: 2px;
}

.result-box button:active {
  opacity: .8;
}

.result-box button * {
  pointer-events: none;
}

.result-code {
  border: none;
  padding: 1em;
  resize: none;
  line-height: 1.5em;
  font-size: .8em;
  width: 62%;
  height: 70%;
}

.result a {
  font-size: 1.5em;
  margin-top: 8px;
  color: #d35400;
  padding: 8px;
}

footer {
  margin: 30px auto;
  text-align: center;
}

.heart {
  font-style: normal;
  font-weight: 500;
  color: #C0392B;
}

#github {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 149px;
  height: 149px;
}

#twitter {
  position: absolute;
  top: 20px;
  left: 20px;
}

.upfile-label {
  line-height: 230px;
}
